<!DOCTYPE html>
<html>
<head>
  <title>AkashPortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <div id="nav">
    <% if current_user %>
      <%= link_to "Logout", :logout %>
      <%= link_to "Change password", change_password_form_password_resets_path%>
    <% else %>
      <%#= link_to "Register", new_user_path %> 
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
